<div class="lde-unauthenticated"></div>

<div class="lde-senderInfo"></div>

<div id="accordion">
	<h6 style="background-color:#B1D5A2;"> People </h6>
		<p></p>
	<h6 class="msg-header" style="background-color:#B4D374"> Messages </h6>
		<div class="lde-related-emails" ></div>
</div>

<div class="lde-noSnippets"></div>

<div class="lde-bottom-bar"></div>
