<div class="lde-logo-container">
	<div class="lde-logo-image">
		<a class="lde-logo-clickable" href='http://engine.co'></a>
	</div>
</div>
<div class="lde-top-padding"></div>
<div class="lde-search">
	<a href='https://apps.engine.co/user/account' class="lde-links-account"> Account Page </a> ~ 
	<a href='https://chrome.google.com/webstore/detail/ld-engine/opondoccjabkfkihdkelbblepkopdgfo' class='lde-links-store'> Chrome Store </a>
	<form id='search_field'>
		<input class="lde-search-box" name="field" type="text" style="border: 1px solid #000;" placeholder="Search your messages here!"/>
		<input class="lde-mag-glass"  name="submit" type="button" style="background-color:#fff;" value="" />
	</form>

</div>
<div class="lde-top-padding"></div>

<div class="lde-search-info">Related to Thread:</div>
